---
layout: default
title: Prof. Dr. Nils Reiter
---

<div class="picture" >
	
</div>
<div class="details">
	<h1>Prof. Dr. Nils Reiter</h1>

Professor für Digital Humanities-<br/>&nbsp;Sprachliche Informationsverarbeitung<br/>
Institut für Digital Humanities<br/>
Albertus-Magnus-Platz<br/>
50931 Köln<br/>
<br/>
+49 221 4701902<br/>
<a href="mailto:nils.reiter@uni-koeln.de">nils.reiter@uni-koeln.de</a><br/>
<a href="https://gnupg.org">GnuPG</a> Key-Id: 646AC7BD<br/>
Fingerprint: <code style="font-size:70%">7C21 0132 FD0A 0847 EFEE E7E6 006F F64D 646A C7BD</code><br/>

<br/>
<a href="https://github.com/nilsreiter">github: nilsreiter</a><br/>
<a href="https://twitter.com/nilsreiter">twitter: @nilsreiter</a><br/>
<a href="https://www.linkedin.com/in/nilsreiter/">linkedin</a><br/>
<a itemprop="sameAs" content="https://orcid.org/0000-0003-3193-6170" href="https://orcid.org/0000-0003-3193-6170" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;">orcid: <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">0000-0003-3193-6170</a>
</div>



<div style="clear:left;">



{% assign posts = site.posts | where: "show", true %}
{% if posts.size > 0 %}

<h2>News</h2>

{% for post in posts %}
<div class="post">
<span class="date">{{ post.date | date: "%B %e, %Y" }}</span> <h3>{{ post.title }}</h3>
<p>{{post.excerpt | markdownify}}</p>
<p class="more">{% if post.external %}<a href="{{post.external}}">more ...</a>{% else %}<a href="{{post.url}}">more ...</a>{% endif %}</p>
</div>
{% endfor %}

{% endif %}
</div>
