---
---

@import "reset";
@import "config";

body {
	color: $color-black;
	background: $color-white;
	@media(prefers-color-scheme: dark) {
		background: $color-black;
		color: $color-white;
	};
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	font-weight: 400;
}


h1 {
	margin-bottom: 10px;
	font-size:1.7em;
}
h2 {
	margin-top:10px;
	margin-bottom: 5px;
	font-size: 1.3em;
}
h3 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1.1em;
}
strong {
	font-weight: bold;
}

em {
	font-style:italic;
}

div.picture {
	float:left;
	margin-right:20px;
	width:150px;
	height:150px;
	background:url(/assets/img/nils.jpg);
	background-size:150px 150px;
}

div.picture:hover {
	background:url(/assets/img/IMG_1464.jpg);
	background-size:150px 150px;
}


div.details {
	float:left;
	margin-bottom:20px;
}

@media screen and (min-width: 575px) {
	div.details h1 {
		line-height: 0.8;
	}
}

a.external::before {
	content: "↗︎";
}


p {
	margin-bottom:1em;
	font-size: 1em;
	line-height: 150%;
	img {
		display:inline-block;
		max-width:200px;
		max-height:150px;
		margin-bottom:10px;
		margin-right:10px;
		float:left;
	}
	svg {
		display:inline-block;
		max-width:200px;
		max-height:150px;
		margin-bottom:10px;
		margin-right:10px;
		float:left;
	}  
}


a {
	@media(prefers-color-scheme: dark) {
		color:$color-dark-link;
	}
	color: $color-link;
	text-decoration: none;
	&:visited {
		color: $color-link;
		@media(prefers-color-scheme: dark) {
			color:$color-dark-link;
		}
		text-decoration: none;
 	}
 	&:hover {
		background-color: $color-grey;
		@media(prefers-color-scheme: dark) {
			color: $color-black;
			background-color:$color-dark-link;
		}
		text-decoration: none;
  	}
  	&:active {
		color: $color-link;
		@media(prefers-color-scheme: dark) {
			color:$color-dark-link;
		}
		text-decoration: none;
  	}
}

code {
	background-color: $color-grey;
	@media(prefers-color-scheme: dark) {
		background-color:$color-dark-grey;
	}
	padding:5px;
	font-family: monospace;
}

ul.nolist {
	list-style: none;
}

ul {
	li {
		padding: 5px;
		padding-top:0px;
		padding-left: 0px;
		margin-left: 20px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
		a {
			font-size:0.9em;
		}
	}
}

svg.cretalogo path.col1 {
  fill: #33353d;
}

svg.cretalogo path.col2 {
  fill: #4cc5f3;
}


@media (prefers-color-scheme: dark) {
  svg.cretalogo path.col1 {
    fill: #ededed;
  }  
}


blockquote {
  border-left: 2px solid $color-black;
  padding-left: 15px;
  font-size: 1em;
  margin-top:8px;
  margin-bottom:8px;
  font-weight:300;
  font-style:italic;
}

.wrapper {
	max-width: 600px;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}

.teaser {
	p {
		margin-bottom:0;
	}
	
	.date {
		text-align: right;
		display:block;
		color:#AAA;
		margin-bottom:0;
	}

	.more {
		text-align:right;
	}
	
	margin-bottom:3em;
  .excerpt {
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		svg {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
  }
}

.post {
	.date {
		text-align: right;
		display:block;
		color:#AAA;
	}

	.more {
		text-align: right;
	}
	

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0;
	}
	ul {
		margin-top: 10px;
		li {
			margin:0;
			display: inline;
			padding: 0;
			padding-left: 5px;
			color: $color-dark-link;
			
		}
	}
}

.tool {
	div.badges {
		img {
			margin:1px;
		}
		margin:0;
		margin-bottom:0.5em;
	}
	
	div.screenshot {
		margin:0;
		img {
			display:inline-block;
			max-width:200px;
			max-height:150px;
			margin-bottom:10px;
			margin-right:10px;
			float:left;
		}
	}
	
	p {
		font-size: 1em;
		line-height: 150%;
		img {
			display:inline-block;
			max-width:200px;
			max-height:150px;
			margin-bottom:10px;
			margin-right:10px;
			float:left;
		}
	}
}

.blog {
	padding-bottom: 30px;
}

.music {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
	a {
		padding: 5px;
		padding-left: 10px;
	}
}

.post {
	padding-bottom: 30px;
	&__back {
		a {

		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	&__content {
		padding-top: 40px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 15px;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -10px;
			margin-bottom: 15px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		svg {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
			padding: 3px;
			font-size: 0.9em;
			border-radius: 3px;
			background: $color-grey;
		}
		.highlight {
			margin: 10px;
			margin-bottom: 15px;
			padding: 10px;
			line-height: 1.5;
			border-radius: 3px;
			background: $color-black;
			code {
				color: $color-code;
				background: none;
			}
		}
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
	}
}

table.schedule {
	th {
		font-weight:700;
		
	}
	th,td {
		padding:8px;
		padding-left: 20px;
		text-align: left;
	}
	thead tr {background-color:#AAA;}
	tbody tr:nth-child(even) {background-color: #f2f2f2;}
}

/**
 * publications
 */

.publication {
	margin-bottom:20px;

	span.booktitle {
  	font-style: italic;
	}

	.status {
		font-style: italic;
	}

	span.title {
	  font-weight: bold;
	}

	span.journal {
  		font-style: italic;
	}

	.abstract {
  		font-size:0.8em;
	}
	
	code {
		padding:5px;
		background-color:$color-grey;
		@media(prefers-color-scheme: dark) {
			background-color:$color-dark-grey;
		}
		white-space:pre-wrap;
	}
}