---
layout: page_with_menu
title: All Publications
keywords:
- publications
menu: "pub/menu.html"
---


<p><a href="all.bib">Download all BibTeX entries</a></p>

{% assign pubs = site.publications | where: "toappear", true %}

{% if pubs.size > 0 %}

<h2 style="margin-top:20px;">to appear</h2>
{% for pub in pubs %}
<div class="publication" lang="{{pub.lang}}">{% include pub/{{ pub.type }}.html p=pub %}
</div>
{% endfor %}
{% endif %}

{% assign years = site.publications | map: "year" | uniq | sort | reverse %}
{% for y in years %}



{% assign thisyear = site.publications | where:"year", y | where_exp: "item", "item.toappear != true" %}

{% if thisyear.size == 0 %}
{% continue %}
{% endif %}


{% assign thisyear = thisyear | sort: 'month', 'first' | reverse %}

<h2>{{ y }}</h2>

{% for pub in thisyear %}

<div class="publication" lang="{{pub.lang}}">{% include pub/{{ pub.type }}.html p=pub %}
	<p class="right_aligned"><a href="{{pub.url}}">Details</a></p>
</div>
{% endfor %}

{% endfor %}
