@{{include.pub.type}}{ {{ include.pub.id | remove_first: "/publications/" }},
   Title = {%raw%}{{{%endraw%}{{ include.pub.title }}{%raw%}}}{%endraw%},
{% if include.pub.address %}   Address = { {{ include.pub.address }} },
{% endif %}{% if include.pub.author %}   Author = { {{ include.pub.author | join: " and " }} },
{% endif %}{% if include.pub.editor %}   Editor = { {{ include.pub.editor | join: " and " }} },
{% endif %}{% if include.pub.booktitle %}   Booktitle = {%raw%}{{{%endraw%}{{ include.pub.booktitle }}{%raw%}}}{%endraw%},
{% endif %}{% if include.pub.pages %}   Pages = { {{ include.pub.pages }} },
{% endif %}{% if include.pub.journal %}   Journal = { {{ include.pub.journal }} },
{% endif %}{% if include.pub.volume %}   Volume = { {{ include.pub.volume }} },
{% endif %}{% if include.pub.publisher %}   Publisher = { {{ include.pub.publisher }} },
{% endif %}{% if include.pub.number %}   Number = { {{ include.pub.number }} },
{% endif %}{% if include.pub.series %}   Series = { {{ include.pub.series }} },
{% endif %}{% if include.pub.institution %}   Institution = { {{ include.pub.institution }} },
{% endif %}{% if include.pub.school %}   School = { {{ include.pub.school }} },
{% endif %}{% if include.pub.location %}   Location = { {{ include.pub.location }} },
{% endif %}{% if include.pub.edition %}   Edition = { {{ include.pub.edition }} },
{% endif %}{% if include.pub.iurl %}   Url = { {{ include.pub.iurl }} },
{% endif %}{% if include.pub.isbn %}   Isbn = { {{ include.pub.isbn }} },
{% endif %}{% if include.pub.month %}   Month = { {% include pub/month.txt m=include.pub.month %}},
{% endif %}{% if include.pub.doi %}   Doi = { {{ include.pub.doi }} },
{% endif %}{% if include.pub.status %}   Note = { {{ include.pub.status }} },
{% endif %}   Year = { {{ include.pub.year }} }
}